#fullDiv {
    border: 1px solid red;
    display: flex;
    height: 100vh;

}

.backgroundImage{
    width: 30%;
    border: 1px solid red;
    overflow: hidden;

}

.backgroundImage img{
    height: 100%;
    width: 100%;
}

.text{
    width: 70%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.message{
    border: 1px solid red;
    height: 33%;
}
.form{
    border: 1px solid red;
    height: 33%;

}
.buttons{
    border: 1px solid red;
    height: 33%;

}

*{
    margin: 0;
}